node_modules

build/*
!build/plotcss.js
!build/README.md

dist/
!dist/topojson/
!dist/README.md
!dist/plot-schema.json
!dist/plotly-geo-assets.js
!dist/translation-keys.txt

npm-debug.log*
*.sublime*
*~
tags

.*
!.circleci
!.github/
!.gitignore
!.npmignore
